<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBc_0OnAJhy87VVmELQ8pv6sSua_raHAoI</string>
	<key>GCM_SENDER_ID</key>
	<string>18542948144</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sofolit.preparationGuru</string>
	<key>PROJECT_ID</key>
	<string>preparation-guru</string>
	<key>STORAGE_BUCKET</key>
	<string>preparation-guru.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18542948144:ios:d44128f6a72c56ab8ee2f5</string>
</dict>
</plist>